html{
 background-color:#140033;
}
*{
    font-family: Product Sans;
    color: lightcyan;
    margin: 0%;
    padding: 0%;
}
header{
    background-color:#090016 ;
    width: 90%;
    padding: 10px 3% 10px 3%;
    margin: 10px 2% 0px 2%;  
}
main{
    background-color:#0e0022 ;
    width: 96%; 
    margin: 0px 2% 0px 2%;  
}
h1{
    display: inline;
    padding: 0%;
}
#soy{
    display: inline;
}
h3{
    padding: 0% 0% 1% 0%;
}
img{
    float: left;
    width:360px;
    padding: 16px 25px 25px 25px;
}
div{
    padding: 10px;
}
.logos {
  width: 40px;
  padding: 0px 5px 0px 5px;
  float: right;
  display: inline;  
}
#nombre{
    padding: 1% 0% 0px 0%;
    display: inline;
}
p{
    padding: 0% 0% 1% 0%;
    font-size: 17px;
}
#descripcion{
    padding: 0% 2% 0% 2%;
    line-height: 22px;
    font-size: 16px;
}