html{
    background-color: #e6e6ff;
}
@font-face{
    font-family: ProductSans;
    src: url(../assets/Product\ Sans\ Regular.ttf);
}
*{
    font-family: ProductSans;
    padding: 0% 0% 0% 0%;
    text-shadow: 1px 1px 3px #505057;
}
h1{
    color: #161618;
    font-size: 30px;
    text-align: center;
    margin: 2% 3% 1% 3%;
}
h2, h3{
    color: #505057;
    margin: 0% 0% 0% 4%;
}
p{
    color: #09090a;
    font-size: 20px;
    margin: 1% 5% 1% 5%;
}
table{
    margin-left:10%;
    border: 3px #5B5B65 solid;
    text-align: center;
    font-size: 18px;
}
th{
    padding: 2%;
    color: #e6e6ff;
    border: solid 3px #5B5B65;
    background-color: #161618;
}
th:hover{
    color: #161618;
    background-color: #A1A1B2;
}
td{
    padding: 1%;
    border: 3px solid #A1A1B2;
    color: #09090a;
    background-color: #e6e6ff
}
td:hover{
    color: #e6e6ff;
    background-color: #505057
}
.td-hover{
    color: #e6e6ff;
    background-color: #505057;
}
.td-hover:hover{
    color: #09090a;
    background-color: #e6e6ff
}
ul{
    margin: 1% 7% 1% 7%;
    }
.ejemplo{
    font-size: 17px;
}
footer{
    text-align: center;
}
.logos {
    width: 50px;
    margin: 10px 5px 0px 5px;
    padding: 0px;
    display: inline;
    border-radius: 100%;
    box-shadow: 6px 6px 10px #5B5B65;
  }
  #contactanos{
      padding: 0%;
      margin: 0px;
  }
.autor{
    padding: 0px 5px 0px 5px;
    font-size: 18px;
}
a{
    color: #161618;
}
a:hover{
    color: #A1A1B2;
}