
@font-face{
  font-family: Product-Sans;
  src: url(Product\ Sans\ Regular.ttf);
}
*{
 margin: 0%;
 padding: 0%; 
 color: aliceblue;
 font-family: Product-Sans;
 text-align: center;
}
*::selection{
  background-color: #b798ff;
  color: #2b0070;
}
html{
  background: #010030;
  background: linear-gradient(90deg, #01002e 0%, #430291 100%);
}
h1{
margin: 20px 0% 20px 0%;
text-shadow: #6f16ff 0px 0px 10px;
}
.contenedor{
  width: 100%;
}
#izq{
  width: 50%;
  display: inline;
  float: left;
}
#der{
  width: 50%;
  display: inline;
  float: right;
}
form{
  text-align: center;
}
p{
  font-size: 100%;
  padding: 3%;
  padding-bottom: 2%;
  text-shadow: #b385fc 0px 0px 10px;
}
#warnings{
  line-height: 30px;
  padding: 0%;
  text-shadow: #efe5ff 0px 0px 10px;
}
.colores{
  color: #c29bff;
  padding: 1%;
  width: 130px;
  margin: 0% 0% 15px 0%;
  background: #2b0070;
  border: #6200ff solid 4px;
  box-shadow: #6200ff 0px 0px 20px;
  border-radius: 10px;
  transition: linear 200ms;
  outline: none;
}
.colores:hover{
  color: #e8daff;
  background: #4703b4;
  border: #b385fc solid 4px;
  box-shadow: #b385fc 0px 0px 25px;
}
.colores:focus{
  color: #e8daff;
  background: #4703b4;
  border: #b385fc solid 4px;
  box-shadow: #b385fc 0px 0px 25px;
}
button{
  color: #e8daff;
  padding: 1%;
  margin: 2% 30% 1% 30%;
  width: 25%;
  font-size: 15px;
  background: #2b0070;
  border: #6200ff solid 4px;
  box-shadow: #6200ff 0px 0px 20px;
  border-radius: 10px;
  transition: linear 200ms;
  outline: none; 
}
button:hover{
  color: #e8daff;
  background: #4703b4;
  border: #b385fc solid 4px;
  box-shadow: #b385fc 0px 0px 25px;
}
button:focus{
  color: #e8daff;
  background: #4703b4;
  border: #b385fc solid 4px;
  box-shadow: #b385fc 0px 0px 25px;
}
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;

}