@font-face{
    font-family: ProductSans;
    src: url(assets/Product\ Sans\ Regular.ttf);
}
*{
    font-family: ProductSans;
    padding: 0% 1% 0% 1%;
}
html{
    background-color: rgb(255, 251, 210);
}
p{
    font-size: 20px;
}
img{
    float: right;
    width: 300px;
}
header{
    text-align: center;
}